#app {
  overflow-x: hidden
}

.stars {
  color: rgb(158, 46, 46);
}

.card-product {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn-modal {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.custom-btn {
  border: none;
  background-color: transparent;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.nombre-producto-modal-img {
  margin-left: 55px;
}

.container-button-favorite-modal-img {
  margin-left: -50px;
  margin-top: -10px;
}