#app {
  overflow-x: hidden
}

.stars {
  color: rgb(158, 46, 46);
}

.card-product {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
}

.btn-modal {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.custom-btn {
  border: none;
  background-color: transparent;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.nombre-producto-modal-img {
  margin-left: 55px;
}

.container-button-favorite-modal-img {
  margin-left: -50px;
  margin-top: -10px;
}

@media screen and (max-width: 1000px) {
  .image-container {
    display: block;
  }
}

.custom-btn-card {
  background-color: #adb5bd;
  color: rgb(255, 255, 255);
}

.custom-text-card {
  font-size: 20px;
}

.button-ver-mas-productos {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  background: #b13a3a;
  color: white;
  font-size: 24px;
  width: 20%;
  padding: 10px;
  outline: 1px solid;
  outline-color: rgba(143, 26, 26, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  margin: 10px 0px 50px;
  border-radius: 10px;
}

.button-ver-mas-productos:hover {
  box-shadow: inset 0 0 20px rgba(165, 50, 50, 0.5), 0 0 20px rgba(248, 35, 35, 0.2);
  outline-color: rgba(131, 47, 47, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px rgb(134, 35, 43);
}
.center-div {

  display: inline-block;
}

@media (max-width: 1000px) {


  .center-div {
      display: block; 
      margin: 10px auto; 
      text-align: center;
  }
}