
.modal-content-log-in {
  background-color: #f8f9fa;
  color: #333;
  padding: 15px;
}

.modal-login-body{
align-items: center;
}

.input-field-login  {

    border-radius: 5px; 
    border: gray 1px solid;
    align-items: center;
    cursor: pointer; 
    width: 45%;
    background-color: whitesmoke;
}

.input-field-login:focus {
  outline: #a04c5b 1px solid; 
}

.boton-login {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
width: 50%;
}

.crear-cuenta-login a {
color: black;
text-decoration: none;
margin: 20px;
padding: 15px;
font-size: medium;
} 

.olvide-mi-contraseña {
color: gray;
background-color: #f8f9fa;
border: none;
padding: 4px;
font-size: medium;
}

