/* CONTENEDOR GENERAL */
.container-vista-metodo-de-pago {
    width: 35%;
    /* height: 70vh; */
    margin: 30px auto;
    text-align: center;
}

/* BARRA PARA MARCAR PROCESO DE PAGO [ Carro, Pago, Revisar ] */
.proceso-de-pago-barra-pago {
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
}

.texto-barra-proceso-pago {
    width: 25%;
    padding-bottom: 15px;
    border-bottom: 2px blue solid;
}

.texto-barra-proceso-pago-inactivo {
    width: 25%;
    padding-bottom: 20px;
    border-bottom: 2px grey solid;
    color: grey;
}

/* BOTÓN REGRESAR ANTERIOR VISTA */
.button-regresar-anterior-vista, .flecha-vista-anterior {
    border: none;
    background: none;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.button-regresar-anterior-vista:active {
    color: rgb(156, 71, 71);
}

/* INFORMACIÓN DE PAGO */
.informacion-opcion-para-pagar {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 40px;
}

.descripcion-opcion-para-pagar {
    color: grey;
    font-weight: 300;
}

/* CHECKBOX E INPUT MÉTODOS DE PAGO */
.metodos-de-pago-tarjetas-checkbox {
    display: flex;
    flex-direction: column;
    border-top: grey 1px solid;
    width: 90%;
    margin: 20px auto;
}

.container-input-checkbox-metodo-de-pago {
    border-bottom: grey 1px solid;
    padding: 15px 0;
    display: flex;
}

.checkbox-metodos-de-pago-tarjetas {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgb(166, 166, 166);
    outline: none;
    cursor: pointer;
    margin-right: 15px;
}

/* SUBTOTAL Y PRECIO ENVIO */
.subtotal-envio-precio-metodo-de-pago {
    border-bottom: 1px grey solid;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 10px;
}

/* TOTAL PRECIO */
.total-precio-metodo-de-pago {
    width: 90%;
    margin: 20px auto;
}

/* BUTTON CONTINUAR SIGUIENTE VISTA PAGO */
.button-continuar-metodo-de-pago {
    width: 60%;
    padding: 8px;
    font-size: 24px;
}
/* LOGO MASTERCARD , VISA ,  PAYPAL */
.mastercardLogoMetodoDePago, .visaLogoMetodoDePago,  .paypalLogoMetodoDePago {
    width: 30px; 
    height: 30px; 
}
/* LOGO WEBPAY  */
.webpayLogoMetodoDePago{
    width: 45px; 
    height: 30px; 
}