/* Estilos para el modal */
.modal-content-control-edad {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.modal-control {
    width: 40%;
}

.modal-title-control-edad {
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

.modal-body-control-edad {
    color: #555;
    padding: 20px;
    font-size: x-large;
}

.modal-footer-control-edad {
    padding: 10px;

}

.btn-control-edad {
    width: 30%;
    margin: 10px;

}