.body-tarjeta-de-credito{
    background-color: #fafafa;
  }
  
  
  .layout-tajeta-de-credito{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .card-tarjeta-de-credito{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px #dadada;
  }