.usuarioFoto {
  float: none;
  margin: 0 auto;
  width: 30%;
  height: 30%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
}

.profile {
  margin: 20px 0;

}

.user-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;

}

.profile-usermenu ul li a {
  color: #0c0c0d;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.modal-content-log-in {
  background-color: #f8f9fa;
  color: #333;
}

.boton-cerrar-sesion {
  padding-bottom: 15px;
  width: 20%;
}

.boton-eliminar-cuenta {
  padding-bottom: 15px;
  width: 18%;
}