.card-product-card {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.card-img-top-productCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-center-productCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.container-productCard {
    margin: 30px auto 70px;
    display: flex;
    justify-content: center;
}

.calificaciones-productCard {
    margin-left: 250px;
    margin-right: 250px;
}

.comment-productCard {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px auto;
}

.productCard-add-remove-btn {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px;
}

.textarea-productCard {
    border-radius: 8px;
}

.section-cantidad-precio-añadir-producto {
    margin-left: 40px;
    width: 90%;
}

.informacion-de-producto-single {
    margin-left: 30px;
    width: 90%;
}

.btn-add-favorites-product {
    background: transparent;
    border: none;
    height: 10%;
}

.container-calificaciones-reseñas {
    text-align: left;
    padding-left: 10px;
}

.contenedor-stars-comment-product {
    margin-top: 40px;
}

.button-calificacion-comment-negativa,
.button-calificacion-comment-positiva {}