.card {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

p {
    color: black;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-md-6 {
    justify-content: center;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.my-5 {
    margin: 170px;
    justify-content: center;
}

.calificaciones {
    margin-left: 250px;
    margin-right: 250px;
}

.comment {
    padding: inherit;
    margin-left: 350px;
    margin-right: 350px;
}

.product-price-carrito-hover {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
}

textarea {
    border-radius: 8px;
}