.container-registro {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    height: 70vh;
}

.card-registro {
    width: 80%;
    max-width: 370px;
    margin: auto;
    background: white;
    text-align: center;
    border-radius: 20px;
}

.container-inputs-registro {
    margin: 10px auto;
}

.input-registro {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: whitesmoke;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    box-sizing: border-box; 
    
}


#terminosYcondiciones {
    width: 18px;
    height: 18px;
}

.container-terminos-y-condiciones {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.terminosYcondicionesLabel {
    margin-left: 8px;
}

.container-btn-registro,
.container-btn-registro-google {
    width: 80%;
    margin: 10px auto;
}