
.form-restaurar-contraseña {
    padding: 25px;
    font-size: larger;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #dadada;
    position: relative;
    max-width: 570px;
    width: 100%;
    margin: auto;
    

}


.input-rc{
    align-items: center;
   
}
