

<!DOCTYPE html>
<html>
<head>
    <title>Contact Form</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('n_ZJ_pdN6W9mTe5k3');
        })();
    </script>
    <script src="mail.js"></script>

    <script type="text/javascript">

        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
               
               sendMail();
            });
        }
    </script> 
    
</head>
<body>
    
</body>
</html>